
<div class="container">			
			<div class="jumbotron">
					<h1>welcome to überhipsters.<h1><h2>the most hipster shit on the net.</h2>
					<br>
					<img src="http://i.imgur.com/bCqp6hB.jpg">
			</div>
</div>