
<div class="container">			
			<div class="jumbotron">
					<h1>welcome to überhipsters<h1><h2>collecting and producing some of the coolest, most obscure shit on the internet since 2014</h2>
					<br>
					This website is currently under construction. Check back in a couple weeks for our soft launch, which will also include our <a href="http://www.reddit.com/r/uberhipsters/" target="_blank">subreddit</a> that we hope will develop into a robust community of contributors.  

					Testing.
			</div>
</div>