
<div class="container">			
			<div class="jumbotron">
					<h1>welcome to überhipsters.<h1><h2>the most hipster shit on the net.</h2>
					<br>
					This website is currently under construction.  In short, we are building a cooler version of Threadless, and we promise to never sell out for the almighty buck.  Check back in a couple weeks for our soft launch, which will also include our <a href="http://www.reddit.com/r/uberhipsters/" target="_blank">subreddit</a> that we hope will develop into a robust community of contributors.  Let's make some hilarious shit together.  In the meantime: 
					<br><br> 
					<img src="http://i.imgur.com/S1dkjBz.gif">
					Testing again and again and again.
			</div>
</div>