<head>
  <link type='text/css' rel='stylesheet' href='https://vjs.zencdn.net/4.5.1/video-js.css' />
  <script src="videojs.playlist.js"></script>
</head>
<div class="videoWrapper">
<script src="http://p.jwpcdn.com/6/8/jwplayer.js"></script>
<div id='playerCgNWYPJeRjxA'></div>
<script type='text/javascript'>
    jwplayer('playerCgNWYPJeRjxA').setup({
        plugins: {
          'javascripts/jwplayer.shuffle.min.js': {
            autostart: true,
            repeatplaylist: true,
            shuffle: true
          }
        },
        width: '100%',
        aspectratio: '16:9',
        controls: 'false',
        dock: 'false',
     playlist: [{
    
        file: 'https://www.youtube.com/watch?v=NFTaiWInZ44',
        image: '../video/images/fitness-video2-big.jpg',
        title: 'Tim and Eric - The Universe + Extanded Scenes'
        },{

        file: 'https://www.youtube.com/watch?v=maAFcEU6atk',
        image: '../video/images/fitness-video1-big.jpg',
        title: 'Tim and Eric - Celery Man',
        },{

        file: 'https://www.youtube.com/watch?v=DduNRXh3h3o',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Shigeto - Full Performance (Live on KEXP)'
        },{

        file: 'https://www.youtube.com/watch?v=wtIglDsIGRk',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Paul Rudd Dancing'
        },{

        file: 'https://www.youtube.com/watch?v=co535xZ1u-A',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Pakistan guys rocking and dancing'
        },{

        file: 'https://www.youtube.com/watch?v=WgPFaPk5R8k',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Dazz Band Let It Whip'
        },{

        file: 'https://www.youtube.com/watch?v=87bdestd6nU',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Dru Down'
        },{

        file: 'https://www.youtube.com/watch?v=1yWGmdevTuM',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Didgeridoo Dubstep'
        },{    

        file: 'https://www.youtube.com/watch?v=RMjCxV7u8OA',
        image: '../video/images/fitness-video3-big.jpg',
        title: '08'
        }]
        
        });
</script>
</div>










