<head>
  <link type='text/css' rel='stylesheet' href='https://vjs.zencdn.net/4.5.1/video-js.css' />
  <script src="videojs.playlist.js"></script>
</head>
<div class="videoWrapper">
<script src="http://p.jwpcdn.com/6/8/jwplayer.js"></script>
<div id='playerCgNWYPJeRjxA'></div>
<script type='text/javascript'>
    jwplayer('playerCgNWYPJeRjxA').setup({
        plugins: {
          'js/jwplayer.shuffle.min.js': {
            autostart: true,
            repeatplaylist: true,
            shuffle: true
          }
        },
        width: '100%',
        aspectratio: '16:9',
        controls: 'false',
        dock: 'false',
     playlist: [{
    
        file: 'https://www.youtube.com/watch?v=NFTaiWInZ44',
        image: '../video/images/fitness-video2-big.jpg',
        title: '01'
        },{

        file: 'https://www.youtube.com/watch?v=5P-TXxoWTSE',
        image: '../video/images/fitness-video1-big.jpg',
        title: '02',
        },{

        file: 'https://www.youtube.com/watch?v=DduNRXh3h3o',
        image: '../video/images/fitness-video3-big.jpg',
        title: '03'
        }]
        
        });
</script>
</div>










