<div class="navbar-header">
</div>
<script src="http://jwpsrv.com/library/tHLKbPpxEeOSXSIACyaB8g.js"></script>
<div id='playerCgNWYPJeRjxA'></div>
<script type='text/javascript'>
    jwplayer('playerCgNWYPJeRjxA').setup({
        file: 'https://www.youtube.com/watch?v=maAFcEU6atk&feature=kp',
        width: '100%',
        aspectratio: '16:9',
        controls: 'false',
        autostart: 'true',
        repeat: 'true'
    });
</script>








