<script src="http://p.jwpcdn.com/6/8/jwplayer.js"></script>
<div id='playerCgNWYPJeRjxA'></div>
<script type='text/javascript'>
    jwplayer('playerCgNWYPJeRjxA').setup({
    	  file: "https://www.youtube.com/watch?v=PqqqnVgvK-k",
        width: '100%',
        aspectratio: '16:9',
        controls: 'false',
        autostart: 'true',
        repeat: 'true'
    });
</script>
