<head>
  <link type='text/css' rel='stylesheet' href='https://vjs.zencdn.net/4.5.1/video-js.css' />
  <script src="videojs.playlist.js"></script>
</head>
<div class="videoWrapper">
<script src="http://p.jwpcdn.com/6/8/jwplayer.js"></script>
<div id='playerCgNWYPJeRjxA'></div>
<script type='text/javascript'>
    jwplayer('playerCgNWYPJeRjxA').setup({
        width: '100%',
        aspectratio: '16:9',
        controls: 'false',
        autostart: 'true',
        repeat: 'false',
        shuffle: 'true',
        dock: 'false',
     playlist: [{

        file: 'https://www.youtube.com/watch?v=NFTaiWInZ44',
        image: '../video/images/fitness-video2-big.jpg',
        title: 'Big Buck Bunny Movie Trailer'
        },{

        file: 'https://www.youtube.com/watch?v=5P-TXxoWTSE',
        image: '../video/images/fitness-video1-big.jpg',
        title: 'Herbalife sport video 1',
        },{

        file: 'https://www.youtube.com/watch?v=DduNRXh3h3o',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Ads Test video Big White Bunny '
        }]

        });
</script>
</div>










