
<div class="container">			
			<div class="jumbotron">
					<h1>we're looking for artists to join our collective<h1><h2>let's make unusually cool shit together</h2>
					<br>
					We're trying to build a better version of <a href="http://threadless.com/" target="_blank">Threadless</a>, which is going to require really talented artists to pull off. If you like what you see and have an interest in joining the überhipsters movement, please contact us at <a mailto:uberhipsters@gmail.com target="_blank">uberhipsters@gmail.com</a> and we'll get back to you ASAP.
			</div>
</div>