
<div class="container">			
			<div class="jumbotron">
					<h1>we're looking for artists to join our collective<h1><h2>let's make unusually cool shit together</h2>
					<br>
					We're trying to build a cooler version of Threadless, which is going to require really talented artists to pull off, and we promise to never sell out and start featuring portraits of guys with moustaches made out of breakfast food.
		
			</div>
</div>