<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://uberhipsters.com/about">about </a> 
      <a class="navbar-brand" href="http://shop.uberhipsters.com">shop </a> 
      <a class="navbar-brand" href="http://blog.uberhipsters.com">blog </a> 
      <a class="navbar-brand" href="http://www.reddit.com/r/uberhipsters/">community </a> 
      <a class="navbar-brand" href="http://instagram.com/uberhipsters"><img src="http://s28.postimg.org/nzdprro61/instagram.png"></a>
    </div>
    
  </div><!-- /.container --> 
</nav>